@font-face {
    font-family: 'ComicRelief';
    src: url(Fonts/ComicRelief-Regular.ttf);
}
ul , li , h1 , a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-family: 'ComicRelief';
    align-items: center;
}
.active {
    font-weight: bold;
}
.nav {
    background-color: rgb(51 51 51);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    border: 2px solid black;
    padding: 3px 15px ;
    background-color: rgb(23 162 184);
    box-shadow: 5px 5px black;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'ComicRelief';
    cursor: pointer;
}

