.box {
    width: 350px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.top-box {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-box h3 {
    margin: 10px 30px;
}
.like-btn {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 30px;
}
.text p {
    margin: 20px 30px;
}
button {
    height: 20px;
    background-color: yellow;
    border: 1px black solid;
    box-shadow: 2px 2px black;
    padding: 0px 10px;
}
button:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}